/* Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: black;
}

.bg {
    background-image: url("images/splash7.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    min-height: 100vh;
}

a {
    text-decoration: solid;
    color: whitesmoke;
}

p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    text-decoration: solid;
    color: white;
}

/* Header */

header {
    height: 100vh;
    width: 100%;
}
 
/* Hamburger menu */

.top-nav {
    background-color: transparent;
    /* border-bottom-right-radius: 90%; */
    border-bottom-left-radius: 90%;
    height: 100vh;
    width:100%;
    position: fixed;
    top: -100vh;
    transition: all .5s ease-in-out;
    z-index: 50;
}

.change {
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.top-nav .menu-list li a {
    color: transparent;
}

.top-nav.change .menu-list li a {
    color: white;
}

.menu {
    position: fixed;
    top: 4rem;
    right: 4rem;
    height: 3rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.bar {
    background-color: rgb(233, 234, 236);
    height: 2px;
    width: 100%;
    border-radius: .8rem;
    transition: all 0.5s ease-in-out;
}

.change .bar.start {
    transform: rotate(45deg) !important;
    transform-origin: 0% 50%;
}

.change .bar.middle {
    opacity: 0;
    background: transparent;
    box-shadow: none;
    transform-origin: 0% 50%;
}

.change .bar.end {
    transform: rotate(-45deg) !important;
    transform-origin: 0% 50%;
}

.menu-list {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-2 {
    margin-left: 0;
    margin-right: 0;
}

.my-2 .form-control-feedback {
    margin-left: 0;
}

.my-2 input[type=text] {
    display: flex;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    font-size: 15px;
    width: 200px;
    height: 30px;
    color: white;
    position: center;
  }
  
 .my-2 input[type=text]:focus {
    background-color: transparent;
    outline: 0;
    width: 200px;
    height: 30px;
    color: white;
  }

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
    transition: all 0.8s ease;
}

.nav-link:hover,
.nav-link:focus {
    transition: all 0.8s ease;
    background: linear-gradient(to top, rgb(226, 194, 105), rgb(182, 53, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-ticker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

/* Main title */

.title1 {
    color: black;
    display: flex;
}

.title1 h1 {
    font-size: 25rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 20px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    margin: 10rem auto 5rem;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5rem;
    animation: text 2s ease-in-out;
}

.title1 p {
    font-size: 20rem;
    font-weight: bolder !important;
    margin-top: 20rem;
}


@keyframes text
{
    0% {
        letter-spacing: 70px;
    }
    100% {}
}

section {
    height: 100vh;
}

/* Image Slider (Carousel) */

.carousel-item {
    background-color: black;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat !important;
}

.carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    display: table;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat !important;
}

.carousel-caption a:hover {
    text-decoration: none;
}

.carousel-caption h1 {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
    vertical-align: middle;
    height: 100%;
}

.carousel-indicators .active {
    background-color: rgb(36, 35, 35);
}

.carousel-control-prev-icon:after {
    color: white;
}

.carousel-control-next-icon:after {
    color: rgb(65, 62, 62);   
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.5);
}

.outline {
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.outline:hover {
    background-color: white;
    transition: 0.3s ease background-color;
    text-shadow: none;
    text-align: center;
}

/* Bootstrap Grid */

.my-container {
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 100vw;
}

.my-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.my-row {
    margin: 0px;
    padding: 1rem 0px;
}

.col-md-6 p {
    text-transform: initial;
    font-size: 3rem;
}

.my-container a {
    text-decoration-color: white;
}

/* Contact frame */


.contact-details {
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.contact-details h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 1rem;
    color: whitesmoke;
}

form {
    width: 100%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: rgba(0, 0, 0, 0.9);
}

#submitbtn {
    width: initial;
    background-color: rgba(0, 0, 0, 0.05);
    position: center;
    color: white;
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    padding: 0.5rem 1rem 0.5rem 0;
    border-radius: .2rem;
    outline-color: white;
    cursor: pointer;
    transition: background-color 650ms;
}

#submitbtn:hover {
    background: linear-gradient(to top, rgb(209, 174, 58), rgb(250, 25, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: rgba(0, 0, 0, 0.05);
}

.field {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.12rem;
    vertical-align: middle;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
    color: white;
}

.input-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.field::placeholder, .field::-moz-placeholder, .field::-webkit-input-placeholder {
    color: white;
}

.field:hover::placeholder, .field:hover::-moz-placeholder, .field:hover::-webkit-input-placeholder {
    color: black;
}

.field:focus::placeholder, .field:focus::-moz-placeholder, .field:focus::-webkit-input-placeholder {
    color: black;
}

.field:hover, .field:active, .field:focus {
    color: black;
    background-color: white;
    transition: all 0.5s ease;
    outline: none;
}

.contact-frame {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
}

/* Footer */

.copyright {
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.copyright p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: white;
}

#up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 35px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border: none;
    cursor: pointer;
}


/* Media quaries */

@media screen and (max-width: 767.98px) {
    body {
        background-image: url("images/splash7.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .title1 h1 {
        font-size: 15rem;
        letter-spacing: 10px;
        padding: 0.5rem;
        margin: 15rem auto 5rem;
    }
    .carousel-caption h1 {
        font-size: 4rem;
        letter-spacing: .2rem;
    }
    .carousel-item {
        height: 100vh;
        position: center;
        background-size: 100%;
        background-repeat: no-repeat !important;
    }

    @keyframes text
    {
        0% {
            letter-spacing: 20px;
        }
        100% {}
    }
    .row-even {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 320px) {
    body {
        background-image: url("images/splash7.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .menu {
        top: 2rem;
        right: 2rem;
    }
    .title1 h1 {
        font-size: 10rem;
        letter-spacing: 5px;
        padding: 0.1rem;
        margin: 15rem auto 5rem;
    }
    .title1 p {
        font-size: 1.5rem;
    }
    @keyframes text
{
    0% {
        letter-spacing: 10px;
    }
    100% {}
}
    .carousel-caption h1 {
        font-size: 2.5rem;
        letter-spacing: .1rem;
    }

    .carousel-item {
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat !important;
    }

    #up {
        bottom: 20px;
        right: 20px;
        font-size: 18px;
        width: 25px;
        height: 25px;
    }
    form {
        width: 100%;
    }
}