/* Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url("images/globe1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    transition: all .5s ease;
}

a {
    text-decoration: solid;
    color: whitesmoke;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}

/* Header */

header {
    height: 100vh;
    width: 100%;
}
 
/* Hamburger menu */

.top-nav {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 90%;
    height: 100vh;
    width:100%;
    position: fixed;
    top: -100vh;
    transition: all .5s ease-in-out;
    z-index: 50;
}

.change {
    top: 0;
}

.menu {
    position: fixed;
    top: 4rem;
    right: 4rem;
    height: 3rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.bar {
    background-color: rgb(233, 234, 236);
    height: 2px;
    width: 100%;
    border-radius: .8rem;
    transition: all 0.5s ease-in-out;
}

.change .bar.start {
    transform: rotate(65deg) translate(25px, -21px);
}

.change .bar.middle {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.change .bar.end {
    transform: rotate(-65deg) translate(25px, 21px);
}

.menu-list {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, rgb(189, 198, 247), rgb(6, 1, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news-ticker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

/* Main title */

.title1 {
    background-color: rgba(0, 0, 0, 0.07);
    color: black;
}

.title1 h1 {
    font-size: 25rem;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 20px;
    font-weight: bolder;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    animation: text 2s ease-in-out;
}

.title p {
    font-size: 3rem;
}


@keyframes text
{
    0% {
        letter-spacing: 70px;
    }
    {
        letter-spacing: 10px;
        
    }
}

section {
    height: 100vh;
}
.bg-active {
    background-color: white;
}

/* Image Slider (Carousel) */

.carousel-item {
    height: 100vh;
    position: center;
    background-size: cover;
}

.carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    display: table;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat !important;
}

.carousel-caption h1 {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
    vertical-align: middle;
    height: 100%;
}

.carousel-indicators .active {

       background-color: rgb(36, 35, 35);
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    background: rgb(65, 63, 63);
}/* linear-gradient(to bottom, grey, rgb(80, 79, 79));*/


.outline {
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: .1rem .1rem .5rem black;
}

.outline:hover {
    background-color: white;
    transition: 0.3s ease background-color;
    text-shadow: none;
    text-align: center;
}

/* Bootstrap Grid */

.my-container {
    background-color: rgba(0, 0, 0, 0.9);
}

.my-row {
    padding: 70px 0px;
}

.col-md-6 p {
    text-transform: initial;
    font-size: 3rem;
}
/* Hover effect for images in grid */

.thumbnail {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    -webkit-transition: all 0.5s ease;
}

img:hover {
    transform: scale(1.4);
}

/* Contact frame */


.contact-details {
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.contact-details h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 7px;
    position: relative;
    margin-bottom: 1rem;
    color: whitesmoke;
    opacity: .9;
}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: rgba(0, 0, 0, 0.9);
}

input[type="submit"] {
    width: initial;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 1.8rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    padding: 1rem 1rem;
    border-radius: .1rem;
    outline-color: white;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: black;
    background-color: white;
}

::-moz-placeholder {
    color: black !important;
    opacity: 1;
}


.contact-frame {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
}

/* Footer */

.copyright {
    background-color: rgba(0, 0, 0, 0.05);
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.copyright p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: white;
}

#up {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 35px;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    border: none;
    cursor: pointer;
}


/* Media quaries */

@media screen and (max-width: 768px) {
    body {
        background-image: url("images/globe1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    .title1 h1 {
        font-size: 15rem;
        letter-spacing: 10px;
        padding: 0.5rem;
    }
    .carousel-caption h1 {
        font-size: 4rem;
        letter-spacing: .2rem;
    }
    .carousel-item {
        height: 100vh;
        position: center;
        background-size: 100%;
        background-repeat: no-repeat !important;
    }

    @keyframes text
    {
        0% {
            letter-spacing: 20px;
        }
        {
            letter-spacing: 5px;
        
        }
    }

}

@media screen and (max-width: 480px) {
    .menu {
        top: 2rem;
        right: 2rem;
    }
    .title1 h1 {
        font-size: 10rem;
        letter-spacing: 5px;
        padding: 0;
    }
    .title1 p {
        font-size: 1.5rem;
    }
    @keyframes text
{
    0% {
        letter-spacing: 10px;
    }
    {
        letter-spacing: 1px;
        
    }
}
    .carousel-caption h1 {
        font-size: 2.5rem;
        letter-spacing: .1rem;
    }

    .carousel-item {
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat !important;
    }

    #up {
        bottom: 20px;
        right: 20px;
        font-size: 18px;
        width: 25px;
        height: 25px;
    }
    form {
        width: 100%;
    }
}